.addaddressbutton{
    display:inline-block;
    background-color: #000;
    color:#FFF;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition:0.3s;
    font-family: var(--body-font);
    cursor:pointer;
    width: auto;
}

.fa-plus {
    text-align: center;
}

.addaddressdiv {
    border: solid black;
    padding: 1em;
}

.redasterisk {
    color: red;
    font-style: italic;
    font-weight: lighter;
}
.modal-backdrop{
    z-index: -1;
}
.modal{
    z-index: 1;
}

.addbtn{
    justify-content: center;
}
/* .menu_button{
    position: inherit;
    bottom:0;
    right:0;
    display: flex;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 0.5rem 0 0.5rem 0; 
    justify-content: center;

} */

/* user account */
.navi{
    margin: auto;
    display: grid;
    justify-content: center;
    width: 300px;
    margin-left: 10px;
    height:350px;
    
}

.row1{
    padding-top: 10px;
    padding-bottom:10px;
    position:initial;
    
}
.row1 a{
    color: var(--text-color);
    
}
.moon1{
    margin-top: 30px;
}

.accountpage{
    position: absolute;
    top:50px;
    right:200px;
    left:350px;
    padding-bottom: 50px;
    /* width:0; */
    /* opacity: 0; */
    /* transition: all ease-in 0s; */
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
.accountaddress{
    position: absolute;
    margin-top:500px;
    right:200px;
    left:350px;
    padding-bottom: 50px;
    /* width:0; */
    /* opacity: 0; */
    /* transition: all ease-in 0s; */
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
/* .accountpage div{
    opacity: 0;
    top:50px;

} */


.feed{
    display:grid;
    margin-left: 350px;
    margin-top:-195px;
    
}

.align{
    margin-bottom: 30px;
}

.basicinfo{
    display: flex;
    width:350px;
}

.emailUpdate, .currentpassword, .passwordUpdate, .cfmpasswordUpdate{
    width:250px;
}

.passwordrow, .emailrow {
    margin-top: 30px;
}

.p{
    margin-bottom:10px;
}
.updateUserEmail, .updateUserPassword{
    margin-top:5px;
}


.accheader {
    font-weight: bold;
}

/* .accountcontainer {
    padding-top: 1em;
} */

.order-id {
    padding-right: 1em;
}

/* .order-stat {
    height: auto;
} */