@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* variables  */
:root{
    --header-height:3rem;
    /* colors */
    --primary-color: #FFE32C;
    --primary-color-alt: #FFC82A;
    --title-color:#393939;
    --text-color:#000000;
    --text-color-light:#A6A6A6;
    --body-color:#FFE32C;
    --container-color:#FFFFFF;


/* font */
    --body-font: 'Roboto', sans serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size:.813rem;
    --smaller-font-size: 0.75rem;

/* font weight */
    --font-medium:500;
    --font-semi-bold:500;

/* margin */
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2.0rem;
    --mb-5:2.5rem;
    --mb-6:3rem;

/* z-index */
    --z-tooltip:10;
    --z-fixed:100;
}

/* when screen size is */
@media screen and (min-width:768px){
    :root{
        --biggest-font-size:4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size:0.875rem;
        --smaller-font-size: 0.813rem;
    }
}
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 48px;
    height:48px;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size:var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
    width:100%;
    height: 100vh;
    display: grid;
    align-items: center;

}
h1,h2,h3,p,ul{
    margin:0;
}
ul{
    padding:0;
    list-style:none;
}

a{
    text-decoration:none;
}

img{
    max-width: 100%;
    height:auto;
}

/* css for class */
.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color:var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display:block;
    color:var(--text-color);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-1);
}

/* Layout */
.bd-container{
    max-width: 100%;
    width: calc(100%-2rem);
    margin-left:var(--mb-2);
    margin-right: var(--mb-2);
    text-align: center; 
    justify-content: center; 
}

.bd-grid{
    display: grid;
    gap:1.5rem;
    
}



/* cart */
.count {
    font-size:13px;
}


/* Nav */

.nav{
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    /* margin: 0 0 0 0; */

}
.brand{
    justify-content: center;
    
}
/* when screen size is */
@media screen and (min-width:768px){
    .nav_menu{
        position: fixed;
        top:-100%;
        left:0;
        width: 100%;
        padding:1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition:0.4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index:var(--z-fixed);
    }
    
}
.nav_item{
    margin-bottom: var(--mb-2);

}

.nav_link, .nav_logo, .nav_toggle{
    color:var(--text-color);
    font-weight: var(--font-medium);
}
.nav_cart{
    color:var(--text-color);
    font-weight: var(--font-medium);
    font-size: 1.5rem;
    cursor:pointer;
    position:sticky;
    margin: 0 0 0 auto;

    
}
.nav_logo:hover{
    color:var(--body-color);
}

.nav_link{
    transition: 0.3s;
}
.nav_link:hover{
    color:grey;

}

.nav_toggle{
    font-size: 1.5rem;
    cursor:pointer;
    
}
/* reveal menu */
.show-menu{
    top:var(--header-height);
    background: var(--body-color);
    

}

.contact-in{
    width:50%;
    height:1200px;
    margin:auto;
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #666;
    justify-content: center;
    padding: 1em;
    animation: transitionIn 1s;

}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);

    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }


}

/* Google map */
.contact-map{
    width: 100%;
    height:auto;
    flex:50%;
}
.contact-map iframe{
    width: 100%;
    height:200px;
}
.contact-form h2{
    text-align:center;
    margin-bottom: 10px;
}
/* .contact-form{
    width:100%;
    height:auto;
    flex:50%;
    padding:30px;
    text-align:center;
} */
.contact-form-txt{
    width:100%;
    height:40px;
    color:var(--text-color);
    border:1px solid var(--primary-color-alt);
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    
}
.contact-form-txt::placeholder{
    color: #aaa;
}
.contact-form-textarea{
    width:100%;
    height:130px;
    color:var(--text-color);
    border:1px solid var(--primary-color-alt);
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-textarea::placeholder{
    color: #aaa;
}
.form-control{
    width: 40%;
    margin-bottom: 20px;
}
.contact-form-btn{
    width:100%;
    border:none;
    outline: none;
    border-radius:50px;
    background: var(--text-color);
    color: var(--container-color);
    text-transform: uppercase;
    padding:10px 0;
    cursor: pointer;
    
}
/* dark theme */
body.dark-theme{
    --title-color:#F1F3F2;
    --text-color:#fff;
    --body-color:#1D2521;
    --container-color:#27302C;
    
}

/* button dark light */
.change-theme{
    position: absolute;
    right: 1rem;
    top:1.8rem;
    color: var(--text-color);
    cursor:pointer;
}

footer i {
    color: var(--text-color);
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}
