.menu_img{
    width:150px;
    height:170px;
    align-self:center;
    margin-bottom: var(--mb-2);

}

.menubox{
    padding: 1em 2em;
}

.addbutton{
    display:inline-block;
    background-color: #000;
    color:#FFF;
    padding: 0.75rem 0;
    border-radius: 0.6rem;
    transition:0.3s;
    font-family: var(--body-font);
    cursor:pointer;

}

.addbutton:hover{
    background-color: var(--primary-color-alt);
}

.bentodiv, .drinksdiv, .gravydiv {
    padding: 2em 1em;
}

.addbuttonrow {
    padding-top: 0.5em;
}