@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap'); */

/* variables  */
:root{
    --header-height:3rem;
    /* colors */
    --primary-color: #FFE32C;
    --primary-color-alt: #FFC82A;
    --title-color:#393939;
    --text-color:#000000;
    --text-color-light:#A6A6A6;
    --body-color:#FFE32C;
    --container-color:#FFFFFF;


/* font */
    /* --body-font: 'Yellowtail', cursive; */
    --body-font: 'Roboto', san serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size:.0.9rem;
    --smaller-font-size: 0.75rem;

/* font weight */
    --font-medium:500;
    --font-semi-bold:500;

/* margin */
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2.0rem;
    --mb-5:2.5rem;
    --mb-6:3rem;

/* z-index */
    --z-tooltip:10;
    --z-fixed:100;
}

/* when screen size is */
@media screen and (min-width:768px){
    :root{
        --biggest-font-size:4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size:0.875rem;
        --smaller-font-size: 0.813rem;
    }
}
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 48px;
    height:48px;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size:var(--normal-font-size);
    background-color: var(--body-color);
    /* background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
    color: var(--text-color);
    line-height: 1.6;
}
/* animation on calorice */
.calorice{
    padding-bottom: 15px;
    padding-top: 15px;
}
.calorice span{
    transition: .5s linear;
    cursor: pointer;
  }
  .calorice:hover span:nth-child(1){
    margin-right: 5px
  }
  .calorice:hover span:nth-child(1):after{
    content: "";
  }
  .calorice:hover span:nth-child(2){
    margin-left: 30px
  }
  .calorice:hover span{
    color: #000;
   
  }
/* rotate image */
.rotate_01{
    display: flex;
    position: relative;
    justify-self: center;
    margin:auto;
    /* top:50%;
    left: 50%;
    width:100px;
    height:100px;
    margin: -20px 0 0 -500px; */
    transition: -webkit-transform 2s;
}
.rotate_01:hover{
    transform: rotate(360deg) translateZ(0);
}


/* end */
h1,h2,h3,p,ul{
    margin:0;
}
ul{
    padding:0;
    list-style:none;
}

a{
    text-decoration:none;
}

img{
    max-width: 100%;
    height:300px;
}
.img-home{
    width: auto;
    height:auto;
    justify-self: center;
}
.img-logo{
    max-width: 100%;
    height:auto;
}
/* css for class */
.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color:var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display:block;
    color:var(--text-color);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-1);
}

/* Layout */
.bd-container{
    max-width: 100%;
    width: calc(100%-2rem);
    margin-left:var(--mb-2);
    margin-right: var(--mb-2);
    text-align: center; 
    justify-content: center; 
}

.bd-grid{
    display: grid;
    gap:1.5rem;
    
}
.l-main{
    padding-top: 50px ;
}
.l-header{
    width:100%;
    z-index: 2;
    position: fixed;
    top:0;
    left:0;
    
    background-color:var(--body-color);

}
/* cart */
.count {
    font-size:13px;
}



/* Nav */

.nav{
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--body-color);
    /* margin: 0 0 0 0; */

}
.brand{
    justify-content: center;
    
}
/* when screen size is */
@media screen and (min-width:768px){
    .nav_menu{
        position: fixed;
        top:-100%;
        left:0;
        width: 100%;
        padding:1.5rem 0 1rem;
        text-align: center;
        background-color: var(--primary-color);
        transition:0.4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index:var(--z-fixed);
    }
    
}
.nav_item{
    margin-bottom: var(--mb-2);

}

.nav_link, .nav_logo, .nav_toggle{
    color:var(--text-color);
    font-weight: var(--font-medium);
}
.nav_cart{
    color:var(--text-color);
    font-weight: var(--font-medium);
    font-size: 1.5rem;
    cursor:pointer;
    position:sticky;
    margin: 0 0 0 auto;
    padding-right:10px;
}

.nav_logo:hover{
    color:var(--text-color);
}

.nav_link{
    transition: 0.3s;
}
.nav_link:hover{
    color:grey;

}

.nav_toggle{
    font-size: 1.5rem;
    cursor:pointer;
    
}
/* reveal menu */
.show-menu{
    top:var(--header-height);
    background: var(--body-color);
    
}

/* active menu */

.active-link{
    color:#1CC52B;
}

/* change background header */
.scroll-header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    
}

/* scroll to top */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: var(--primary-color-alt);
    border-radius:.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    visibility: hidden;

}

.scrolltop:hover{
    background-color: var(--primary-color-alt);

}
.scrolltop_icon{
    font-size: 1.8rem;
    color: var(--primary-color);
}

/* show scrolltop */
.scroll-top{
    visibility: visible;
    bottom: 1.5rem;
    background-color: black;
}

/* home */
.home-container{
    height:calc(100vh-var(var(--header-height)));
    /* height:100vh; */
    /* align-content: center; */
    justify-items: center;
}

.home_title{
    font-size: var(--biggest-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}
/* typing effect */
.home_subtitle{
    font-size: var(--h1-font-size);
    color:var(--title-colour);
    margin-bottom: var(--mb-4);
    width: 21ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;

}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.home_img{
    width:400px;
    justify-self: center;

}
/* .home_data{
    justify-self: center;
} */
.button{
    display:inline-block;
    background-color: #000;
    color:#FFF;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition:0.3s;
    font-family: var(--body-font);
    

}
/* clear cart */
.clear-cart{
    display:inline-block;
    background-color:#000;
    color:#FFF;
    border:none;
    border-radius: 0.5rem;
    transition:0.3s;
    font-family: var(--body-font);
    height:30px;
    width:55px;
    font-size: 10px;

}

.button:hover{
    background-color: var(--primary-color-alt);
}

/* About Us */

.about_data{
    text-align: center;
}
.about_description{
    margin-bottom: var(--mb-3);
}
.about_img{
    width: 280px;
    border-radius: 0.5rem;
    justify-self:center;
}

/* Menu */
.menu_container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    z-index: 1;
    
    
}

.menu_content{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding:0.75rem;
    /* z-index: 1; */ /*cannot use this for modal*/
    
}

.menu_img{
    width:250px;
    align-self:center;
    margin-bottom: var(--mb-2);

}


.menu_name, .menu_price{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.menu_name{
    font-size:var(--normal-font-size);
}
.menu_price{
    font-size:var(--small-font-size);
}

.menu_button{
    position: inherit;
    bottom:0;
    right:0;
    display: flex;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 0.5rem 0 0.5rem 0; 
    justify-content: center;
    cursor:pointer;

}

.addandbase{
    font-family: var(--body-font);
}



.bx{
    font-family: var(--body-font);
}

/* menu modal details */
.close{
    border:none;
    background-color: var(--body-color);
}
.modal-content{
    background-color: var(--body-color);
    border-radius: 20px;
}
.btn-danger{
    background-color: var(--body-color);
    color: var(--text-color);
    border:none;
    border-radius: 10px;
}
.table-image , thead, td,th {
        border: 0;
        color: var(--text-color);
        font-size: 1rem;
}
.table-image .qty{
    width: 70px;
    justify-self:center;
    
}
.table-image, td, th {
      vertical-align: middle;
      text-align: center;
 }
.modal_menu img{
    width: 100px;
    height: 80px;
    background-color: var(--body-color);
    border:none;
}
  
.price {
    margin-left: 1rem;
}
  
.modal-footer {
    padding-top: 0rem;
}

/* dark theme */
body.dark-theme{
    --title-color:#F1F3F2;
    --text-color:#fff;
    --body-color:#1D2521;
    --container-color:#27302C;
    
}

/* button dark light */
.change-theme{
    position: absolute;
    right: 1rem;
    top:1.8rem;
    color: var(--text-color);
    cursor:pointer;
}
.symbol{
    position: absolute;
    top:370px;
    color: var(--text-color);
    cursor:pointer;
}
/* footer */
footer i {
    color: var(--text-color);
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}



/* user account */
.navi{
    margin: auto;
    display: grid;
    justify-content: center;
    width: 300px;
    margin-left: 10px;
    height:350px;
    
}

.row1{
    padding-top: 10px;
    padding-bottom:10px;
    position:initial;
    
}
.row1 a{
    color: var(--text-color);
    
}
.moon{
    margin-top: 30px;
}

.accountpage{
    position: absolute;
    top:50px;
    right:200px;
    left:350px;
    padding-bottom: 50px;
    /* width:0; */
    opacity: 0;
    transition: all ease-in 0s;
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

.accountpage div{
    opacity: 0;
    top:50px;

}
.accountpage:target{
    opacity:1;
    top:50px;
    position:absolute;
    /* left:0;
    
    width:100%;
    height:100%; */
    /* z-index: 10; */
}
.accountpage:target div{
    opacity:0;
    animation: 0s fadeIn forwards 0s;
    top:50px;
    

}
.feed{
    display:grid;
    margin-left: 350px;
    margin-top:-195px;
    z-index: index 100;
}
.basicinfo{
    display: flex;
    width:350px;

}



@keyframes fadeIn{
    100%{opacity:1;}
}

.emailUpdate, .currentpassword, .passwordUpdate, .cfmpasswordUpdate{
    width:250px;
}

.passwordrow, .emailrow {
    margin-top: 30px;
}

.p{
    margin-bottom:10px;
}
.updateUserEmail, .updateUserPassword{
    margin-top:5px;
}


.accheader {
    font-weight: bold;
}

/* .accountcontainer {
    padding-top: 1em;
} */

/* checkout */
.btncheckout{
    background-color: var(--text-color);
    border: var(--text-color)
}

/* orders page */
.date-container{
    display: grid;
    width:100%;
    height: 250px;
    background:#cdcdcd;
    border-radius: 20px;
    margin-top:10px;
}

.date-order{
    display: grid;
    width:100%;
    height:60px;
    background: #000;
    color: #fff;
    padding-left:5px;
}
.order-id{
    justify-self: right;
}
.ship-id, .order-stat, .order-total{
    padding-left: 5px;
}
